@import "reset.css";
body{
  max-width: 1920px;
  max-height: 1080px;
  height: 1080px;
  width: 1920px;
  overflow: hidden;
}
.aue{
  position: relative;
  max-width: 1920px;
  max-height: 1080px;
  height: 1080px;
  width: 1920px;
  overflow: hidden;
  background-color: black;
}
.poster{
  overflow: hidden;
  position: absolute;
  left: -300px;
  bottom: -300px;
  animation: scaling 9s linear infinite;
  /* background-color: deeppink; */
  /* transform: skew(130deg, 10deg); */
}
@keyframes scaling {
  0%{
    transform: scale(1.4);
  }
  100%{
    transform: scale(1.1);
  }
}
/* .sss img{
  position: absolute;
  transform: scale(0.4);
  width: 100%;
  height: auto;
  animation: wiggle 1s infinite;
} */
/* .sss{
  background-color: antiquewhite;
  width: 390px;
  height: 580px;
  overflow: hidden;
  left: 0;
  top: 0;
} */
